<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% @travel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%require "#{Rails.root}/app/helpers/Travels_Helper"
getfriendId(@@userName)%>



<form class="form-horizontal">

	<div class="container-fluid well">

	     <div class="row-fluid span12">
		<div class="span6">
			<div class="row-fluid">
	  			<div class="control-group">  
            				<label class="control-label" for="input01"><%= f.label :front_page_image %></label>  
            			    <div class="controls" id="divImage">  
              				<%f.text_field :front_page_image %>
					<%=f.file_field :photo %>
					<%=%>
					<% if params[:action] != 'new'%>
						<%=image_tag( @travel.photo.url, id: "edit_front_page_image", alt: "Icon", size: "200x200") %> 
				        	<img class="imgEdit" id="opacityEditImage" src="http://placehold.it/150x150" style="display:none"></img>
					<%end%>					
            			    </div>  
          			</div>  
			</div>
		
			<div style="display: none;">
				<%= f.text_field :friend_id, :value => @user_id %>
			</div>
			
	    	</div>

 
		<div class="span6"> 
  			<div class="row-fluid"> 
        			<fieldset>  
          				<div class="control-group">  
            					<label class="control-label" for="input01"><%= f.label :title %></label>  
            				    <div class="controls">  
              					<%= f.text_field :title %>   
            				    </div>  
          				</div>  
          				<div class="control-group">  
            				       <label class="control-label" for="input01"><%= f.label :travel_intro %></label>  
            				   <div class="controls">  
              				       <%= f.text_field :travel_intro %>  
            				   </div>  
          				</div> 
			</div>
	      </div>
	</div>
	</div>

	<div>
	<%= link_to_add_fields "Add Experience", f, :experiences %>
	</div>
	
<!--	<div id="experiences">
		<#%= render :partial => 'experience', :collection => @travel.experiences %>

	</div> -->

	<!-- <p> <#%= add_experience_link "Add An Experience" %> </p> -->

			
			<p id="expCollapse22"> this is me</p>	
			
          		<!--<div class="control-group">  
            				<label class="control-label" for="optionsCheckbox" reado>Checkbox (disabled)</label>  
            			<div class="controls">  
              				label class="checkbox"></label>
                			 <input type="checkbox" id="optionsCheckbox" value="<#%=@user_id%>"> <input/>
            			</div>  
          		</div>--> 
 
			 <!-- <div id="expCollapsible"><a href="#">Add Experience</a></div> -->	
          		<div class="form-actions">  
            				<button type="submit" class="btn btn-primary">Save and continue</button>  
            				<button class="btn">Cancel</button>  
          		</div>  
        	</fieldset>

</form>

 <% end %>
