<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @experience.title %>
</p>

<p>
  <strong>Continent:</strong>
  <%= @experience.continent %>
</p>

<p>
  <strong>Country:</strong>
  <%= @experience.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @experience.city %>
</p>

<p>
  <strong>Area:</strong>
  <%= @experience.area %>
</p>

<p>
  <strong>Recommended:</strong>
  <%= @experience.recommended %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
