



 <div class="row-fluid">
<!-- TODO add a span 12 row and split images -->
			<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>		
			</div> 
		 	<div class="span1">
	     		 <a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
			</div> 
		 	<div class="span1">
	      		<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
             		</div>
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
             		</div>
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
			</div> 
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
			</div> 
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
             		</div>
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
			</div> 
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
			</div> 
</div>
 <div class="row-fluid">
<!-- TODO add a span 12 row and split images -->
			<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>		
			</div> 
		 	<div class="span1">
	     		 <a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
			</div> 
		 	<div class="span1">
	      		<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
             		</div>
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
             		</div>
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
			</div> 
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
			</div> 
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
             		</div>
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
			</div> 
		 	<div class="span1">
	      			<a href="#"><%=image_tag("Bruce.jpg", id: "bruce", alt: "Icon", size: "50x45") %></a>	
			</div> 

</div>

