<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blobstore.name %>
</p>

<p>
  <strong>Continent:</strong>
  <%= @blobstore.continent %>
</p>

<p>
  <strong>Country:</strong>
  <%= @blobstore.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @blobstore.city %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blobstore.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @blobstore.caption %>
</p>

<%= link_to 'Edit', edit_blobstore_path(@blobstore) %> |
<%= link_to 'Back', blobstores_path %>
